<!-- start cover area / cover-main -->
<div class="cover align-center"  {{#if @blog.cover}} style="background-image: url({{@blog.cover}})" {{/if}}>
	<div class="cover-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h1 class="title">Welcome to {{@blog.title}}!</h1>
					<p class="description">{{@blog.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end cover area -->