	<div class="share-link-wrap clearfix">
		<span class="share-text">Share this article:</span>
		<div class="addthis_native_toolbox"></div>
	</div>
	<script type="text/javascript">
      var addthis_config = {
		 data_track_addressbar: true,
         data_ga_property: 'UA-23137504-1',
         data_ga_social : true
      };
	</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5284c604664a4b01"></script>
