<!-- start social links -->
<div class="col-sm-6">
	<ul class="social-links">
		<li><a href="https://twitter.com/ritasker"><i class="fa fa-twitter"></i></a></li>
		<li><a href="https://www.linkedin.com/in/ritasker"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://plus.google.com/114001394030617556019"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="https://github.com/ritasker"><i class="fa fa-github"></i></a></li>
		<li><a href="https://stackoverflow.com/users/280178/richard-tasker"><i class="fa fa-stack-overflow"></i></a></li>
		<li><a href="https://feeds.feedburner.com/StringsThingsLightSabers"><i class="fa fa-rss"></i></a></li>
	</ul>
</div>
<!-- end social links -->
